.red{
    color: black;
    width: 500px;
    height: 900px;
    background-image: url('kale.jpg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: local;
    

}
.green{
    background-color: green;
    color: red;
}
*{
    margin: 0;
    padding: 0;
}